<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changjiang.dao.DutyDao">
    <resultMap id="result_Duty_Map" type="com.changjiang.entity.Duty">
        <id column="Duty0" property="id" />
        <result column="Duty1" property="name" />
        <result column="Duty2" property="dbDesc" />
        <result column="Duty3" property="gradeId" />
        <result column="Duty4" property="storeId" />
        <result column="Duty5" property="state" />
    </resultMap>

    <sql id="duty_Column">
        duty.id as Duty0
        ,duty.name as Duty1
        ,duty.db_desc as Duty2
        ,duty.grade_id as Duty3
        ,duty.store_id as Duty4
        ,duty.state as Duty5
    </sql>

    <select id="getDutyRowCount" resultType="java.lang.Long">
        select count(id) from duty
    </select>
    <select id="selectDuty" resultMap="result_Duty_Map">
        select 
        <include refid="duty_Column" /> 
        from duty
    </select> 

    <select id="selectDutyById" parameterType="java.lang.Integer" resultMap="result_Duty_Map">
        select 
            <include refid="duty_Column" /> 
        from duty
        where duty.id = #{id}
    </select> 


    <insert id="insertDuty" parameterType="com.changjiang.entity.Duty">
        insert into duty(id,name,db_desc,grade_id,store_id,state) 
        values(#{id},#{name},#{dbDesc},#{gradeId},#{storeId},#{state})
    </insert>

    <insert id="insertNonEmptyDuty" parameterType="com.changjiang.entity.Duty">
        insert into duty
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="dbDesc != null">db_desc,</if>
            <if test="gradeId != null">grade_id,</if>
            <if test="storeId != null">store_id,</if>
            <if test="state != null">state,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="name != null"> #{name},</if>
            <if test="dbDesc != null"> #{dbDesc},</if>
            <if test="gradeId != null"> #{gradeId},</if>
            <if test="storeId != null"> #{storeId},</if>
            <if test="state != null"> #{state},</if>
        </trim>
    </insert>

    <delete id="deleteDutyById" parameterType="java.lang.Integer">
        delete from duty
        where id = #{id}
    </delete>

    <update id="updateDutyById" parameterType="com.changjiang.entity.Duty">
        update duty set
            name=#{name}
            ,db_desc=#{dbDesc}
            ,grade_id=#{gradeId}
            ,store_id=#{storeId}
            ,state=#{state}
        where id=#{id}
    </update>

    <update id="updateNonEmptyDutyById" parameterType="com.changjiang.entity.Duty">
        update duty
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="dbDesc != null">
                db_desc=#{dbDesc},
            </if>
            <if test="gradeId != null">
                grade_id=#{gradeId},
            </if>
            <if test="storeId != null">
                store_id=#{storeId},
            </if>
            <if test="state != null">
                state=#{state},
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>