<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changjiang.dao.GroupsDao">
    <resultMap id="result_Groups_Map" type="com.changjiang.entity.Groups">
        <id column="Groups0" property="id" />
        <result column="Groups1" property="groupName" />
        <result column="Groups2" property="dbDesc" />
    </resultMap>

    <sql id="groups_Column">
        groups.id as Groups0
        ,groups.group_name as Groups1
        ,groups.db_desc as Groups2
    </sql>

    <select id="getGroupsRowCount" resultType="java.lang.Long">
        select count(id) from groups
    </select>
    <select id="selectGroups" resultMap="result_Groups_Map">
        select 
        <include refid="groups_Column" /> 
        from groups
    </select> 

    <select id="selectGroupsById" parameterType="java.lang.Integer" resultMap="result_Groups_Map">
        select 
            <include refid="groups_Column" /> 
        from groups
        where groups.id = #{id}
    </select> 


    <insert id="insertGroups" parameterType="com.changjiang.entity.Groups">
        insert into groups(id,group_name,db_desc) 
        values(#{id},#{groupName},#{dbDesc})
    </insert>

    <insert id="insertNonEmptyGroups" parameterType="com.changjiang.entity.Groups">
        insert into groups
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="groupName != null">group_name,</if>
            <if test="dbDesc != null">db_desc,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="groupName != null"> #{groupName},</if>
            <if test="dbDesc != null"> #{dbDesc},</if>
        </trim>
    </insert>

    <delete id="deleteGroupsById" parameterType="java.lang.Integer">
        delete from groups
        where id = #{id}
    </delete>

    <update id="updateGroupsById" parameterType="com.changjiang.entity.Groups">
        update groups set
            group_name=#{groupName}
            ,db_desc=#{dbDesc}
        where id=#{id}
    </update>

    <update id="updateNonEmptyGroupsById" parameterType="com.changjiang.entity.Groups">
        update groups
        <set>
            <if test="groupName != null">
                group_name=#{groupName},
            </if>
            <if test="dbDesc != null">
                db_desc=#{dbDesc},
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>