<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changjiang.dao.OfficialTradeDao">
	<cache eviction="LRU" type="com.changjiang.util.MybatisRedisCache" 
	flushInterval="60000" size="512" readOnly="true"/>
    <resultMap id="result_OfficialTrade_Map" type="com.changjiang.entity.OfficialTrade">
        <id column="OfficialTrade0" property="id" />
        <result column="OfficialTrade1" property="number" />
        <result column="OfficialTrade2" property="officialName" />
        <result column="OfficialTrade3" property="productName" />
        <result column="OfficialTrade4" property="alias" />
        <result column="OfficialTrade5" property="officialType" />
        <result column="OfficialTrade6" property="formerName" />
        <result column="OfficialTrade7" property="desc" />
        <result column="OfficialTrade8" property="officialPrice" />
        <result column="OfficialTrade9" property="icon" />
        <result column="OfficialTrade10" property="video" />
        <result column="OfficialTrade11" property="statisticalCategories" />
        <result column="OfficialTrade12" property="rawMaterial" />
    </resultMap>

    <sql id="official_trade_Column">
        official_trade.id as OfficialTrade0
        ,official_trade.number as OfficialTrade1
        ,official_trade.official_name as OfficialTrade2
        ,official_trade.product_name as OfficialTrade3
        ,official_trade.alias as OfficialTrade4
        ,official_trade.official_type as OfficialTrade5
        ,official_trade.former_name as OfficialTrade6
        ,official_trade.desc as OfficialTrade7
        ,official_trade.official_price as OfficialTrade8
        ,official_trade.icon as OfficialTrade9
        ,official_trade.video as OfficialTrade10
        ,official_trade.statistical_categories as OfficialTrade11
        ,official_trade.raw_material as OfficialTrade12
    </sql>

    <select id="getOfficialTradeRowCount" resultType="java.lang.Long">
        select count(id) from official_trade
    </select>
    <select id="selectOfficialTrade" resultMap="result_OfficialTrade_Map">
        select 
        <include refid="official_trade_Column" /> 
        from official_trade
    </select> 

    <select id="selectOfficialTradeById" parameterType="java.lang.Integer" resultMap="result_OfficialTrade_Map">
        select 
            <include refid="official_trade_Column" /> 
        from official_trade
        where official_trade.id = #{id}
    </select> 


    <insert id="insertOfficialTrade" parameterType="com.changjiang.entity.OfficialTrade">
        insert into official_trade(id,number,official_name,product_name,alias,official_type,former_name,desc,official_price,icon,video,statistical_categories,raw_material) 
        values(#{id},#{number},#{officialName},#{productName},#{alias},#{officialType},#{formerName},#{desc},#{officialPrice},#{icon},#{video},#{statisticalCategories},#{rawMaterial})
    </insert>

    <insert id="insertNonEmptyOfficialTrade" parameterType="com.changjiang.entity.OfficialTrade">
        insert into official_trade
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="number != null">number,</if>
            <if test="officialName != null">official_name,</if>
            <if test="productName != null">product_name,</if>
            <if test="alias != null">alias,</if>
            <if test="officialType != null">official_type,</if>
            <if test="formerName != null">former_name,</if>
            <if test="desc != null">desc,</if>
            <if test="officialPrice != null">official_price,</if>
            <if test="icon != null">icon,</if>
            <if test="video != null">video,</if>
            <if test="statisticalCategories != null">statistical_categories,</if>
            <if test="rawMaterial != null">raw_material,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="number != null"> #{number},</if>
            <if test="officialName != null"> #{officialName},</if>
            <if test="productName != null"> #{productName},</if>
            <if test="alias != null"> #{alias},</if>
            <if test="officialType != null"> #{officialType},</if>
            <if test="formerName != null"> #{formerName},</if>
            <if test="desc != null"> #{desc},</if>
            <if test="officialPrice != null"> #{officialPrice},</if>
            <if test="icon != null"> #{icon},</if>
            <if test="video != null"> #{video},</if>
            <if test="statisticalCategories != null"> #{statisticalCategories},</if>
            <if test="rawMaterial != null"> #{rawMaterial},</if>
        </trim>
    </insert>

    <delete id="deleteOfficialTradeById" parameterType="java.lang.Integer">
        delete from official_trade
        where id = #{id}
    </delete>

    <update id="updateOfficialTradeById" parameterType="com.changjiang.entity.OfficialTrade">
        update official_trade set
            number=#{number}
            ,official_name=#{officialName}
            ,product_name=#{productName}
            ,alias=#{alias}
            ,official_type=#{officialType}
            ,former_name=#{formerName}
            ,desc=#{desc}
            ,official_price=#{officialPrice}
            ,icon=#{icon}
            ,video=#{video}
            ,statistical_categories=#{statisticalCategories}
            ,raw_material=#{rawMaterial}
        where id=#{id}
    </update>

    <update id="updateNonEmptyOfficialTradeById" parameterType="com.changjiang.entity.OfficialTrade">
        update official_trade
        <set>
            <if test="number != null">
                number=#{number},
            </if>
            <if test="officialName != null">
                official_name=#{officialName},
            </if>
            <if test="productName != null">
                product_name=#{productName},
            </if>
            <if test="alias != null">
                alias=#{alias},
            </if>
            <if test="officialType != null">
                official_type=#{officialType},
            </if>
            <if test="formerName != null">
                former_name=#{formerName},
            </if>
            <if test="desc != null">
                desc=#{desc},
            </if>
            <if test="officialPrice != null">
                official_price=#{officialPrice},
            </if>
            <if test="icon != null">
                icon=#{icon},
            </if>
            <if test="video != null">
                video=#{video},
            </if>
            <if test="statisticalCategories != null">
                statistical_categories=#{statisticalCategories},
            </if>
            <if test="rawMaterial != null">
                raw_material=#{rawMaterial},
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>