<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changjiang.dao.OrganizationDao">
    <resultMap id="result_Organization_Map" type="com.changjiang.entity.Organization">
        <id column="Organization0" property="id" />
        <result column="Organization1" property="name" />
        <result column="Organization2" property="upperLevelId" />
        <result column="Organization3" property="currentLevel" />
    </resultMap>

    <sql id="organization_Column">
        organization.id as Organization0
        ,organization.name as Organization1
        ,organization.upper_level_id as Organization2
        ,organization.current_level as Organization3
    </sql>

    <select id="getOrganizationRowCount" resultType="java.lang.Long">
        select count(id) from organization
    </select>
    <select id="selectOrganization" resultMap="result_Organization_Map">
        select 
        <include refid="organization_Column" /> 
        from organization
    </select> 

    <select id="selectOrganizationById" parameterType="java.lang.Integer" resultMap="result_Organization_Map">
        select 
            <include refid="organization_Column" /> 
        from organization
        where organization.id = #{id}
    </select> 

<!--  通过currentLevel查询它下的所有组织 -->
    <select id="selectOrganizationByCurrentLevelId" parameterType="java.lang.Integer" resultMap="result_Organization_Map">
        select
        <include refid="organization_Column" />
        from organization
        where organization.upper_level_id = #{upper_level_id}
    </select>





    <insert id="insertOrganization" parameterType="com.changjiang.entity.Organization">
        insert into organization(id,name,upper_level_id,current_level) 
        values(#{id},#{name},#{upperLevelId},#{currentLevel})
    </insert>

    <insert id="insertNonEmptyOrganization" parameterType="com.changjiang.entity.Organization">
        insert into organization
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="upperLevelId != null">upper_level_id,</if>
            <if test="currentLevel != null">current_level,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="name != null"> #{name},</if>
            <if test="upperLevelId != null"> #{upperLevelId},</if>
            <if test="currentLevel != null"> #{currentLevel},</if>
        </trim>
    </insert>

    <delete id="deleteOrganizationById" parameterType="java.lang.Integer">
        delete from organization
        where id = #{id}
    </delete>

    <update id="updateOrganizationById" parameterType="com.changjiang.entity.Organization">
        update organization set
            name=#{name}
            ,upper_level_id=#{upperLevelId}
            ,current_level=#{currentLevel}
        where id=#{id}
    </update>

    <update id="updateNonEmptyOrganizationById" parameterType="com.changjiang.entity.Organization">
        update organization
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="upperLevelId != null">
                upper_level_id=#{upperLevelId},
            </if>
            <if test="currentLevel != null">
                current_level=#{currentLevel},
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>