<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changjiang.dao.ProducteTypeDao">
	<cache eviction="LRU" type="com.changjiang.util.MybatisRedisCache" 
	flushInterval="60000" size="512" readOnly="true"/>
    <resultMap id="result_ProducteType_Map" type="com.changjiang.entity.ProducteType">
        <id column="ProducteType0" property="id" />
        <result column="ProducteType1" property="name" />
        <result column="ProducteType2" property="desc" />
    </resultMap>

    <sql id="producte_type_Column">
        producte_type.id as ProducteType0
        ,producte_type.name as ProducteType1
        ,producte_type.desc as ProducteType2
    </sql>

    <select id="getProducteTypeRowCount" resultType="java.lang.Long">
        select count(id) from producte_type
    </select>
    <select id="selectProducteType" resultMap="result_ProducteType_Map">
        select 
        <include refid="producte_type_Column" /> 
        from producte_type
    </select> 

    <select id="selectProducteTypeById" parameterType="java.lang.Integer" resultMap="result_ProducteType_Map">
        select 
            <include refid="producte_type_Column" /> 
        from producte_type
        where producte_type.id = #{id}
    </select> 
    <!-- 通过产品类型查询所有的办公贸易与店面产品 -->
    <select id="selectOfficialTradeAndProductByTypeId" parameterType="java.lang.Integer" resultMap="result_ProducteType_Map2">
        select
        *
        from producte_type p,official_trade o,store_producte s
        where p.id = o.official_type
        AND   p.id = s.type
        AND   p.id = #{id}
    </select>
    <resultMap id="result_ProducteType_Map2" type="com.changjiang.entity.ProducteType">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="desc" property="desc" />
        <!-- ofType指定stores集合中的对象类型 -->
        <collection property="officialTrades" ofType="com.changjiang.entity.OfficialTrade">
            <id column="id" property="id" />
            <result column="number" property="number" />
            <result column="official_name" property="officialName" />
            <result column="product_name" property="productName" />
            <result column="alias" property="alias" />
            <result column="official_type" property="officialType" />
            <result column="former_name" property="formerName" />
            <result column="desc" property="desc" />
            <result column="official_price" property="officialPrice" />
            <result column="icon" property="icon" />
            <result column="video" property="video" />
            <result column="statistical_categories" property="statisticalCategories" />
            <result column="raw_material" property="rawMaterial" />
        </collection>
        <!-- ofType指定stores集合中的对象类型 -->
        <collection property="storeProductes" ofType="com.changjiang.entity.StoreProducte">
            <id column="id" property="id" />
            <result column="name" property="name" />
            <result column="desc" property="desc" />
            <result column="video" property="video" />
            <result column="raw_material" property="rawMaterial" />
            <result column="price" property="price" />
            <result column="special_price" property="specialPrice" />
            <result column="official_trade" property="officialTrade" />
            <result column="type" property="type" />
        </collection>
    </resultMap>

    <!-- 通过产品类型查询所有的办公贸易与店面产品 -->
    <select id="selectStoreProductByTypeId" parameterType="java.lang.Integer" resultMap="result_ProducteType_Map3">
        select *
        from producte_type p , store_producte s
        where p.id = s.type AND   p.id = #{id}
    </select>
    <resultMap id="result_ProducteType_Map3" type="com.changjiang.entity.ProducteType">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="desc" property="desc" />
        <!-- ofType指定stores集合中的对象类型 -->
        <collection property="storeProductes" ofType="com.changjiang.entity.StoreProducte">
            <id column="id" property="id" />
            <result column="name" property="name" />
            <result column="desc" property="desc" />
            <result column="video" property="video" />
            <result column="raw_material" property="rawMaterial" />
            <result column="price" property="price" />
            <result column="special_price" property="specialPrice" />
            <result column="official_trade" property="officialTrade" />
            <result column="type" property="type" />
        </collection>
    </resultMap>



    <insert id="insertProducteType" parameterType="com.changjiang.entity.ProducteType">
        insert into producte_type(id,name,desc) 
        values(#{id},#{name},#{desc})
    </insert>

    <insert id="insertNonEmptyProducteType" parameterType="com.changjiang.entity.ProducteType">
        insert into producte_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="desc != null">desc,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="name != null"> #{name},</if>
            <if test="desc != null"> #{desc},</if>
        </trim>
    </insert>

    <delete id="deleteProducteTypeById" parameterType="java.lang.Integer">
        delete from producte_type
        where id = #{id}
    </delete>

    <update id="updateProducteTypeById" parameterType="com.changjiang.entity.ProducteType">
        update producte_type set
            name=#{name}
            ,desc=#{desc}
        where id=#{id}
    </update>

    <update id="updateNonEmptyProducteTypeById" parameterType="com.changjiang.entity.ProducteType">
        update producte_type
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="desc != null">
                desc=#{desc},
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>