<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changjiang.dao.RolePowerDao">
    <resultMap id="result_RolePower_Map" type="com.changjiang.entity.RolePower">
        <id column="RolePower0" property="id" />
        <result column="RolePower1" property="functionName" />
        <result column="RolePower2" property="roleId" />
        <result column="RolePower3" property="functionId" />
    </resultMap>

    <sql id="role_power_Column">
        role_power.id as RolePower0
        ,role_power.function_name as RolePower1
        ,role_power.role_id as RolePower2
        ,role_power.function_id as RolePower3
    </sql>

    <select id="getRolePowerRowCount" resultType="java.lang.Long">
        select count(id) from role_power
    </select>
    <select id="selectRolePower" resultMap="result_RolePower_Map">
        select 
        <include refid="role_power_Column" /> 
        from role_power
    </select> 

    <select id="selectRolePowerById" parameterType="java.lang.Integer" resultMap="result_RolePower_Map">
        select 
            <include refid="role_power_Column" /> 
        from role_power
        where role_power.id = #{id}
    </select> 


    <insert id="insertRolePower" parameterType="com.changjiang.entity.RolePower">
        insert into role_power(id,function_name,role_id,function_id) 
        values(#{id},#{functionName},#{roleId},#{functionId})
    </insert>

    <insert id="insertNonEmptyRolePower" parameterType="com.changjiang.entity.RolePower">
        insert into role_power
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="functionName != null">function_name,</if>
            <if test="roleId != null">role_id,</if>
            <if test="functionId != null">function_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="functionName != null"> #{functionName},</if>
            <if test="roleId != null"> #{roleId},</if>
            <if test="functionId != null"> #{functionId},</if>
        </trim>
    </insert>

    <delete id="deleteRolePowerById" parameterType="java.lang.Integer">
        delete from role_power
        where id = #{id}
    </delete>

    <update id="updateRolePowerById" parameterType="com.changjiang.entity.RolePower">
        update role_power set
            function_name=#{functionName}
            ,role_id=#{roleId}
            ,function_id=#{functionId}
        where id=#{id}
    </update>

    <update id="updateNonEmptyRolePowerById" parameterType="com.changjiang.entity.RolePower">
        update role_power
        <set>
            <if test="functionName != null">
                function_name=#{functionName},
            </if>
            <if test="roleId != null">
                role_id=#{roleId},
            </if>
            <if test="functionId != null">
                function_id=#{functionId},
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>