<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changjiang.dao.SerialNumberDao">
    <resultMap id="result_SerialNumber_Map" type="com.changjiang.entity.SerialNumber">
        <id column="SerialNumber0" property="id" />
        <result column="SerialNumber1" property="lastSerialNum" />
    </resultMap>

    <sql id="serial_number_Column">
        serial_number.id as SerialNumber0
        ,serial_number.last_serial_num as SerialNumber1
    </sql>

    <select id="getSerialNumberRowCount" resultType="java.lang.Long">
        select count(id) from serial_number
    </select>
    <select id="selectSerialNumber" resultMap="result_SerialNumber_Map">
        select 
        <include refid="serial_number_Column" /> 
        from serial_number
    </select> 

    <select id="selectSerialNumberById" parameterType="java.lang.Integer" resultMap="result_SerialNumber_Map">
        select 
            <include refid="serial_number_Column" /> 
        from serial_number
        where serial_number.id = #{id}
    </select> 


    <insert id="insertSerialNumber" parameterType="com.changjiang.entity.SerialNumber">
        insert into serial_number(id,last_serial_num) 
        values(#{id},#{lastSerialNum})
    </insert>

    <insert id="insertNonEmptySerialNumber" parameterType="com.changjiang.entity.SerialNumber">
        insert into serial_number
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="lastSerialNum != null">last_serial_num,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="lastSerialNum != null"> #{lastSerialNum},</if>
        </trim>
    </insert>

    <delete id="deleteSerialNumberById" parameterType="java.lang.Integer">
        delete from serial_number
        where id = #{id}
    </delete>

    <update id="updateSerialNumberById" parameterType="com.changjiang.entity.SerialNumber">
        update serial_number set
            last_serial_num=#{lastSerialNum}
        where id=#{id}
    </update>

    <update id="updateNonEmptySerialNumberById" parameterType="com.changjiang.entity.SerialNumber">
        update serial_number
        <set>
            <if test="lastSerialNum != null">
                last_serial_num=#{lastSerialNum},
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>