<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changjiang.mapper.StoreProducteDao">
    <resultMap id="result_StoreProducte_Map" type="com.changjiang.entity.StoreProducte">
        <id column="StoreProducte0" property="id" />
        <result column="StoreProducte1" property="name" />
        <result column="StoreProducte2" property="desc" />
        <result column="StoreProducte3" property="video" />
        <result column="StoreProducte4" property="rawMaterial" />
        <result column="StoreProducte5" property="price" />
        <result column="StoreProducte6" property="specialPrice" />
        <result column="StoreProducte7" property="officialTrade" />
        <result column="StoreProducte8" property="type" />
    </resultMap>

    <sql id="store_producte_Column">
        store_producte.id as StoreProducte0
        ,store_producte.name as StoreProducte1
        ,store_producte.desc as StoreProducte2
        ,store_producte.video as StoreProducte3
        ,store_producte.raw_material as StoreProducte4
        ,store_producte.price as StoreProducte5
        ,store_producte.special_price as StoreProducte6
        ,store_producte.official_trade as StoreProducte7
        ,store_producte.type as StoreProducte8
    </sql>

    <select id="getStoreProducteRowCount" resultType="java.lang.Long">
        select count(id) from store_producte
    </select>
    <select id="selectStoreProducte" resultMap="result_StoreProducte_Map">
        select 
        <include refid="store_producte_Column" /> 
        from store_producte
    </select> 

    <select id="selectStoreProducteById" parameterType="java.lang.Integer" resultMap="result_StoreProducte_Map">
        select 
            <include refid="store_producte_Column" /> 
        from store_producte
        where store_producte.id = #{id}
    </select> 


    <insert id="insertStoreProducte" parameterType="com.changjiang.entity.StoreProducte">
        insert into store_producte(id,name,desc,video,raw_material,price,special_price,official_trade,type) 
        values(#{id},#{name},#{desc},#{video},#{rawMaterial},#{price},#{specialPrice},#{officialTrade},#{type})
    </insert>

    <insert id="insertNonEmptyStoreProducte" parameterType="com.changjiang.entity.StoreProducte">
        insert into store_producte
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="desc != null">desc,</if>
            <if test="video != null">video,</if>
            <if test="rawMaterial != null">raw_material,</if>
            <if test="price != null">price,</if>
            <if test="specialPrice != null">special_price,</if>
            <if test="officialTrade != null">official_trade,</if>
            <if test="type != null">type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="name != null"> #{name},</if>
            <if test="desc != null"> #{desc},</if>
            <if test="video != null"> #{video},</if>
            <if test="rawMaterial != null"> #{rawMaterial},</if>
            <if test="price != null"> #{price},</if>
            <if test="specialPrice != null"> #{specialPrice},</if>
            <if test="officialTrade != null"> #{officialTrade},</if>
            <if test="type != null"> #{type},</if>
        </trim>
    </insert>

    <delete id="deleteStoreProducteById" parameterType="java.lang.Integer">
        delete from store_producte
        where id = #{id}
    </delete>

    <update id="updateStoreProducteById" parameterType="com.changjiang.entity.StoreProducte">
        update store_producte set
            name=#{name}
            ,desc=#{desc}
            ,video=#{video}
            ,raw_material=#{rawMaterial}
            ,price=#{price}
            ,special_price=#{specialPrice}
            ,official_trade=#{officialTrade}
            ,type=#{type}
        where id=#{id}
    </update>

    <update id="updateNonEmptyStoreProducteById" parameterType="com.changjiang.entity.StoreProducte">
        update store_producte
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="desc != null">
                desc=#{desc},
            </if>
            <if test="video != null">
                video=#{video},
            </if>
            <if test="rawMaterial != null">
                raw_material=#{rawMaterial},
            </if>
            <if test="price != null">
                price=#{price},
            </if>
            <if test="specialPrice != null">
                special_price=#{specialPrice},
            </if>
            <if test="officialTrade != null">
                official_trade=#{officialTrade},
            </if>
            <if test="type != null">
                type=#{type},
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>