<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changjiang.dao.UserDao">
	<cache eviction="LRU" type="com.changjiang.util.MybatisRedisCache" 
	flushInterval="10000" size="512" readOnly="true"/>
    <resultMap id="result_User_Map" type="com.changjiang.entity.User">
        <id column="User0" property="id" />
        <result column="User1" property="username" />
        <result column="User2" property="password" />
        <result column="User3" property="roleId" />
        <result column="User4" property="store" />
        <result column="User5" property="userInformation" />
    </resultMap>

    <sql id="Assist">
        <where>
            <foreach collection="require" item="req" separator=" ">
                ${req.require} #{req.value}
            </foreach>
        </where>
    </sql>

    <sql id="updateAssist">
        <where>
            <foreach collection="assist.require" item="req" separator=" ">
                ${req.require} #{req.value}
            </foreach>
        </where>
    </sql>

    <sql id="user_Column">
        user.id as User0
        ,user.username as User1
        ,user.password as User2
        ,user.role_id as User3
        ,user.store as User4
        ,user.user_information as User5
    </sql>

    <select id="getUserRowCount" parameterType="com.changjiang.common.Assist" resultType="java.lang.Long">
        select count(id) from user
        <if test="require!=null"><include refid="Assist" /></if>
    </select>
    <select id="selectUser" parameterType="com.changjiang.common.Assist"  resultMap="result_User_Map">
        select  <if test="distinct !=null">${distinct}</if>
        <choose>
            <when test="resultColumn!=null">${resultColumn}</when>
            <otherwise>
        <include refid="user_Column" /> 
            </otherwise>
        </choose>
        from user
        <if test="require!=null"><include refid="Assist" /></if>
        <if test="order !=null">${order}</if>
        <if test="rowSize !=null"> LIMIT #{rowSize} <if test="startRow !=null"> OFFSET #{startRow}</if></if>
    </select> 

    <select id="selectUserById" parameterType="java.lang.Integer" resultMap="result_User_Map">
        select 
            <include refid="user_Column" /> 
        from user
        where user.id = #{id}
    </select> 


    <insert id="insertUser" parameterType="com.changjiang.entity.User">
        insert into user(id,username,password,role_id,store,user_information) 
        values(#{id},#{username},#{password},#{roleId},#{store},#{userInformation})
    </insert>

    <insert id="insertNonEmptyUser" parameterType="com.changjiang.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="roleId != null">role_id,</if>
            <if test="store != null">store,</if>
            <if test="userInformation != null">user_information,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="username != null"> #{username},</if>
            <if test="password != null"> #{password},</if>
            <if test="roleId != null"> #{roleId},</if>
            <if test="store != null"> #{store},</if>
            <if test="userInformation != null"> #{userInformation},</if>
        </trim>
    </insert>

    <delete id="deleteUserById" parameterType="java.lang.Integer">
        delete from user
        where id = #{id}
    </delete>

    <delete id="deleteUser" parameterType="com.changjiang.common.Assist">
        delete from user
        <if test="require!=null"><include refid="Assist" /></if>
    </delete>

    <update id="updateUserById" parameterType="com.changjiang.entity.User">
        update user set
            username=#{username}
            ,password=#{password}
            ,role_id=#{roleId}
            ,store=#{store}
            ,user_information=#{userInformation}
        where id=#{id}
    </update>

    <update id="updateNonEmptyUserById" parameterType="com.changjiang.entity.User">
        update user
        <set>
            <if test="username != null">
                username=#{username},
            </if>
            <if test="password != null">
                password=#{password},
            </if>
            <if test="roleId != null">
                role_id=#{roleId},
            </if>
            <if test="store != null">
                store=#{store},
            </if>
            <if test="userInformation != null">
                user_information=#{userInformation},
            </if>
        </set>
        where id=#{id}
    </update>

    <update id="updateUser" parameterType="map">
        update user
        <set>
                id=#{enti.id},
                username=#{enti.username},
                password=#{enti.password},
                role_id=#{enti.roleId},
                store=#{enti.store},
                user_information=#{enti.userInformation},
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

    <update id="updateNonEmptyUser" parameterType="map">
        update user
        <set>
            <if test="enti.id != null">
                id=#{enti.id},
            </if>
            <if test="enti.username != null">
                username=#{enti.username},
            </if>
            <if test="enti.password != null">
                password=#{enti.password},
            </if>
            <if test="enti.roleId != null">
                role_id=#{enti.roleId},
            </if>
            <if test="enti.store != null">
                store=#{enti.store},
            </if>
            <if test="enti.userInformation != null">
                user_information=#{enti.userInformation},
            </if>
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

</mapper>