<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changjiang.dao.WorkStationDao">
    <resultMap id="result_WorkStation_Map" type="com.changjiang.entity.WorkStation">
        <id column="WorkStation0" property="id" />
        <result column="WorkStation1" property="name" />
        <result column="WorkStation2" property="userId" />
        <result column="WorkStation3" property="goWorkTime" />
        <result column="WorkStation4" property="leaveWorkTime" />
        <result column="WorkStation5" property="departmentId" />
    </resultMap>

    <sql id="work_station_Column">
        work_station.id as WorkStation0
        ,work_station.name as WorkStation1
        ,work_station.user_id as WorkStation2
        ,work_station.go_work_time as WorkStation3
        ,work_station.leave_work_time as WorkStation4
        ,work_station.department_id as WorkStation5
    </sql>

    <select id="getWorkStationRowCount" resultType="java.lang.Long">
        select count(id) from work_station
    </select>
    <select id="selectWorkStation" resultMap="result_WorkStation_Map">
        select 
        <include refid="work_station_Column" /> 
        from work_station
    </select> 

    <select id="selectWorkStationById" parameterType="java.lang.Integer" resultMap="result_WorkStation_Map">
        select 
            <include refid="work_station_Column" /> 
        from work_station
        where work_station.id = #{id}
    </select> 


    <insert id="insertWorkStation" parameterType="com.changjiang.entity.WorkStation">
        insert into work_station(id,name,user_id,go_work_time,leave_work_time,department_id) 
        values(#{id},#{name},#{userId},#{goWorkTime},#{leaveWorkTime},#{departmentId})
    </insert>

    <insert id="insertNonEmptyWorkStation" parameterType="com.changjiang.entity.WorkStation">
        insert into work_station
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="userId != null">user_id,</if>
            <if test="goWorkTime != null">go_work_time,</if>
            <if test="leaveWorkTime != null">leave_work_time,</if>
            <if test="departmentId != null">department_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="name != null"> #{name},</if>
            <if test="userId != null"> #{userId},</if>
            <if test="goWorkTime != null"> #{goWorkTime},</if>
            <if test="leaveWorkTime != null"> #{leaveWorkTime},</if>
            <if test="departmentId != null"> #{departmentId},</if>
        </trim>
    </insert>

    <delete id="deleteWorkStationById" parameterType="java.lang.Integer">
        delete from work_station
        where id = #{id}
    </delete>

    <update id="updateWorkStationById" parameterType="com.changjiang.entity.WorkStation">
        update work_station set
            name=#{name}
            ,user_id=#{userId}
            ,go_work_time=#{goWorkTime}
            ,leave_work_time=#{leaveWorkTime}
            ,department_id=#{departmentId}
        where id=#{id}
    </update>

    <update id="updateNonEmptyWorkStationById" parameterType="com.changjiang.entity.WorkStation">
        update work_station
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="userId != null">
                user_id=#{userId},
            </if>
            <if test="goWorkTime != null">
                go_work_time=#{goWorkTime},
            </if>
            <if test="leaveWorkTime != null">
                leave_work_time=#{leaveWorkTime},
            </if>
            <if test="departmentId != null">
                department_id=#{departmentId},
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>