<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changjiang.mapper.RolePowerMapper" >
  <resultMap id="BaseResultMap" type="com.changjiang.entity.RolePower" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="function_name" property="functionName" jdbcType="VARCHAR" />
    <result column="upper_level_id" property="upperLevelId" jdbcType="INTEGER" />
    <result column="current_level" property="currentLevel" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="function_id" property="functionId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, function_name, upper_level_id, current_level, role_id, function_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from role_power
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from role_power
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.changjiang.entity.RolePower" >
    insert into role_power (id, function_name, upper_level_id, 
      current_level, role_id, function_id
      )
    values (#{id,jdbcType=INTEGER}, #{functionName,jdbcType=VARCHAR}, #{upperLevelId,jdbcType=INTEGER}, 
      #{currentLevel,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{functionId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.changjiang.entity.RolePower" >
    insert into role_power
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="functionName != null" >
        function_name,
      </if>
      <if test="upperLevelId != null" >
        upper_level_id,
      </if>
      <if test="currentLevel != null" >
        current_level,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="functionId != null" >
        function_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="functionName != null" >
        #{functionName,jdbcType=VARCHAR},
      </if>
      <if test="upperLevelId != null" >
        #{upperLevelId,jdbcType=INTEGER},
      </if>
      <if test="currentLevel != null" >
        #{currentLevel,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="functionId != null" >
        #{functionId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.changjiang.entity.RolePower" >
    update role_power
    <set >
      <if test="functionName != null" >
        function_name = #{functionName,jdbcType=VARCHAR},
      </if>
      <if test="upperLevelId != null" >
        upper_level_id = #{upperLevelId,jdbcType=INTEGER},
      </if>
      <if test="currentLevel != null" >
        current_level = #{currentLevel,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="functionId != null" >
        function_id = #{functionId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.changjiang.entity.RolePower" >
    update role_power
    set function_name = #{functionName,jdbcType=VARCHAR},
      upper_level_id = #{upperLevelId,jdbcType=INTEGER},
      current_level = #{currentLevel,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      function_id = #{functionId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>